


.button{
 
    padding: 1rem;
    background: transparent;
    color: var(--text);
    border-radius:50px;
    font-size: 1rem;
    border: 3px solid var(--text);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
}

.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-top: -1px;
    line-height: 1;
}

.button:hover{
    background: var(--text);
    color: var(--background);
    
}

