

.project-card {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    letter-spacing: 1px;
    
}

.project-description {
    opacity: 0.85;
   
   
}

.project-info{
    width: 100%;
}

.project-link {
   display: flex;
   align-items: center;
   text-transform: uppercase;
   font-weight: bold;
    
   
}